{% comment %} {% extends 'basic_generic.html' %} {% endcomment %}

{% block content %}

    {% if journalResources %}
        <ul>
        {% for resource in journalResources%}

            <li><a href="{{resource.journalUrl}}">{{resource.journalName}}</a></li>
        {% endfor %}        
        </ul>
    {% else %}
        <p>You do not currently have any resources in your Journal, please add some</p>
    {% endif %}

    

    <form method="POST">
        {% csrf_token %}

    {{ journalResourceForm.as_p }}

    <input type="submit" value="Save">

    </form>

{% endblock content %}

