{% extends 'basic_generic.html' %}

{% block title %}View Resources{% endblock %}

{% block content %}

    {% if journalResources %}
        <ul>
        {% for resource in journalResources%}

            <li><a href="{{resource.journalUrl}}">{{resource.journalName}}</a></li>
        {% endfor %}        
        </ul>
    {% else %}
        <p>You do not currently have any resources in your Journal, please add some</p>
    {% endif %}

    <button class="btn btn-primary" onclick="window.location='createResource';" >Add New Resource</button>

{% endblock content %}

