{% extends 'basic_generic.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<style>
    .recently {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        height: 250px;
        border-radius: 35px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .recently:hover{
        background-color: white;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        z-index: 1;
    }

</style>



<br>

<div class="container">

    {% if orderedJResources %}

    <div class="container">

        <div class="container">
            <h3>Recently Viewed</h3>
        </div>

        <br>

        <div class="row" align="center">
            {% for recent in orderedJResources %}
            <div class="col-sm recently">
                <br>
                <h4>{{recent.journalName}}</h4>

                {% for tag in recent.tagNames.all %}
                    {% if forloop.counter0|divisibleby:3 == 0 %}
                        
                        <div class="col-sm"><a href="{{tag.tagUrl}}"><img height="15"
                                width="auto" src="{{tag.imageUrl}}" alt="">{{ tag.tagName }}</a></div>
                    {% else %}
                        {% if forloop.counter0 != 0 %}
                            </div><br><div class="row" >
                                <div class="col-sm"><a href="{{tag.tagUrl}}"><img height="15"
                                        width="auto" src="{{tag.imageUrl}}" alt="">{{ tag.tagName }}</a></div>
                        {% else %}
                            <div class="row" >
                                <div class="col-sm"><a href="{{tag.tagUrl}}"><img height="15"
                                        width="auto" src="{{tag.imageUrl}}" alt="">{{ tag.tagName }}</a></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div><br>
            </div>
            {% endfor %}
            
        </div>
    </div>

    <br><br>

{% endif %}

</div>


{% include 'displayResources.html' %}

<hr>

{% include 'displayContacts.html' %}

<hr>

{% include 'displayTags.html' %} 

<hr>

{% endblock content %}

