{% extends 'basic_generic.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<style>
    .recently {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        min-height: 350px;
        border-radius: 35px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .recently:hover{
        background-color: white;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        position: relative;
        z-index: 1;
    }

    .link {
        color: lightskyblue;
        text-decoration: underline;
    }

</style>

<br>

<div class="container">

    {% if orderedJResources %}

    <div class="container">

        <br>

        <div class="row" align="center">
            {% for recent in orderedJResources %}
            <div class="col-sm recently">
                <br>
                <h4><a href="{{recent.journalUrl}}">{{recent.journalName}}</a></h4>

                <br>

                {% for tag in recent.tagNames.all %}
                    {% if forloop.counter0|divisibleby:3 == 0 %}
                        
                        <div class="col-sm">
                            {% if tag.imageUrl != Null %}
                                <a href="{{tag.tagUrl}}"><img width="60" height="auto" src="{{tag.imageUrl}}" alt=""></a>
                            {%else %}
                                <a href="{{tag.tagUrl}}">{{ tag.tagName }}</a>
                            {% endif %}
                        </div>
                    {% else %}
                        {% if forloop.counter0 != 0 %}
                            </div><br><div class="row" >
                                <div class="col-sm">
                                    {% if tag.imageUrl != Null %}
                                        <a href="{{tag.tagUrl}}"><img width="60" height="auto" src="{{tag.imageUrl}}" alt=""></a>
                                    {%else %}
                                        <a href="{{tag.tagUrl}}">{{ tag.tagName }}</a>
                                    {% endif %}
                                </div>
                        {% else %}
                            <div class="row" >
                                <div class="col-sm">
                                    {% if tag.imageUrl != Null %}
                                        <a href="{{tag.tagUrl}}"><img width="60" height="auto" src="{{tag.imageUrl}}" alt=""></a>
                                    {%else %}
                                        <a href="{{tag.tagUrl}}">{{ tag.tagName }}</a>
                                    {% endif %}
                                </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div><br>
                {% if recent.contactNames.all %}
                    {% for contact in recent.contactNames.all %}
                    
                        <div class="row">
                            <div class="col-md">
                                {{ contact.contactName }}
                                
                            </div>
                            <div class="col-md">
                                {{ contact.contactNumber }}
                                
                            </div>
                            <div class="col-sm">
                                <div class = "link" onclick="window.location = '/sendmail/{{contact.id}}/{{recent.id}}';">Email</div>

                            </div>
                        </div><br>
                        
                    {% endfor %}
                {% else %}
                    <p>No contacts for this resource</p>    
                {% endif %}
                        

            </div>
            {% endfor %}
            
        </div>
    </div>

    <br><br>

{% endif %}

</div>




{% include 'displayResources.html' %}

<hr>

{% include 'displayContacts.html' %}

<hr>

{% include 'displayTags.html' %} 

<hr>

{% endblock content %}

