<br>

<div class="container">

    {% if orderedJResources %}

    <div class="container">

        <br>

        <div class="row" align="center">
            {% for recent in orderedJResources %}
            <div class="col-sm recently">
                <br>
                <h4><a href="{{recent.journalUrl}}">{{recent.journalName}}</a></h4>

                <br>

                {% for tag in recent.tagNames.all %}
                    {% if forloop.counter0|divisibleby:3 == 0 %}
                        
                        <div class="col-sm">
                            {% if tag.imageUrl != Null %}
                                <a href="{{tag.tagUrl}}"><img width="60" height="auto" src="{{tag.imageUrl}}" alt=""></a>
                            {%else %}
                                <a href="{{tag.tagUrl}}">{{ tag.tagName }}</a>
                            {% endif %}
                        </div>
                    {% else %}
                        {% if forloop.counter0 != 0 %}
                            </div><br><div class="row" >
                                <div class="col-sm">
                                    {% if tag.imageUrl != Null %}
                                        <a href="{{tag.tagUrl}}"><img width="60" height="auto" src="{{tag.imageUrl}}" alt=""></a>
                                    {%else %}
                                        <a href="{{tag.tagUrl}}">{{ tag.tagName }}</a>
                                    {% endif %}
                                </div>
                        {% else %}
                            <div class="row" >
                                <div class="col-sm">
                                    {% if tag.imageUrl != Null %}
                                        <a href="{{tag.tagUrl}}"><img width="60" height="auto" src="{{tag.imageUrl}}" alt=""></a>
                                    {%else %}
                                        <a href="{{tag.tagUrl}}">{{ tag.tagName }}</a>
                                    {% endif %}
                                </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div><br>
                {% if recent.contactNames.all %}
                    {% for contact in recent.contactNames.all %}
                    
                        <div class="row">
                            <div class="col-md">
                                {{ contact.contactName }}
                                
                            </div>
                            {% if contact.contactNumber %}
                                <div class="col-md">
                                    {{ contact.contactNumber }}
                                    
                                </div>
                            {% endif %}
                            <div class="col-md">
                                <div class = "link" onclick="window.location = '/sendmail/{{contact.id}}/{{recent.id}}';">Email</div>

                            </div>
                        </div><br>
                        
                    {% endfor %}
                {% else %}
                    <p>No contacts for this resource</p>    
                {% endif %}
                        

            </div>
            {% endfor %}
            
        </div>

        <br><br>

        <div class="d-flex justify-content-center">

            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FLondon&src=YW5kcmV3Lm1jbWFob25Ac29saXJpdXMuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=NDluZ2FxZ29kNzA1aGhucGFrbzgybnV0b3FkdXBsZ2lAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZW4tZ2IudWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%2333B679&color=%239E69AF&color=%230B8043" style="border:solid 1px #777; align:center;" width="800" height="600" frameborder="0" scrolling="no"></iframe>

        </div>

    </div>

    <br><br>

{% endif %}

</div>
